body {
  background-color: antiquewhite;
}
.hero {
  background-position: center;
  max-width:100%;
}

.screenshot {
    height: 200px;
  width: 400px;
}

h2 {
  width: 400px;
}

.card {
  width: 500px;
}

.headshot {
  width: 25%
}

footer {
  text-align: center;
}